{
    "semi": false,
    "singleQuote": true,
    "singleAttributePerLine": true,
    "bracketSameLine": true,
    "bracketSpacing": true,
    "trailingComma": "none",
    "arrowParens": "avoid",
    "tabWidth": 4,
    "useTabs": false,
    "plugins": ["prettier-plugin-tailwindcss"],
    "endOfLine": "auto"
}
